# ST IT Cloud - Data and Analytics Test LV.4

Esse teste deve avaliar alguns conceitos de big data e a qualidade técnica na manipulacão de dados, otimização de performance, trabalho com arquivos grandes e tratamento de qualidade.

## Passo a passo

- *Parte teórica:* responda as questões abaixo preenchendo as células em branco.
- *Parte prática:* disponibilizamos aqui 2 cases para, leia os enunciados dos problemas, desenvolver os programas, utilizando a **stack definida durante o processo seletivo**, para entregar os dados de acordo com os requisitos descritos abaixo.



**Faz parte dos critérios de avaliacão a pontualidade da entrega. Implemente até onde for possível dentro do prazo acordado.**

**Os dados de pessoas foram gerados de forma aleatória, utilizando a biblioteca FakerJS, FakerJS-BR e Faker**

LEMBRE-SE: A entrega deve conter TODOS os passos para o avaliador executar o programa (keep it simple).

**Questão 1** - Descreva de forma detalhada quais são as etapas na construção de um pipeline de dados, sem considerar ferramentas específicas, imagine que é seu primeiro contato com o cliente e você precisa entender a demanda dele e explicar quais são os passos que você terá que implementar para entregar a demanda.

Um framework começa pela extração dos dados na origem, logo é necessário definir quais tabelas serão utilizadas, qual será o intervalo de extração, se a carga será completa ou incremental e providenciar a conexão dos bancos de dados com os componentes do framework. Em seguida, os dados devem ser organizados no Data Lake de forma a otimizar a leitura e separados em camadas. Os dados na primeira camada podem necessitar de um pré processamento para remoção de valores vazios, duplicados, filtrar por data ou até alterar o schema da tabela. Com os dados limpos, o time de analistas de negócio em conjunto com o de modelagem de dados devem definir quais regras de negócio devem ser aplicadas para a formação de novos conjuntos de dados, cabendo ao time de engenharia de dados implementar tais regras. O próximo passo é carregar os dados no Data Warehouse, podendo ser segregados em Data Marts a depender da necessidade do cliente para facilitar o controle de acesso aos mesmos. Com a conclusão do carregamento no DW, os dados estarão disponíveis para a confecção de relatórios e dashboards.

**Questão 2** - Defina com suas palavras um processamento em streaming e processamento em batch. Qual sua experiência com cada uma delas.

 - Streaming - Processamento de dados em tempo real, ideal para coleta de dados de sensores e IoT
 - Batch - Processamento de dados sem necessidade de tempo real, onde uma grande carga é realizada em intervalos pré definidos de acordo com a necessidade do cliente

**Questão 3** - Quais são as camadas de um Data Lake?

Um Data Lake pode ter diversas camadas, de acordo com a necessidade do cliente. Habitualmente há pelo menos uma camada de dados "Raw" onde os dados brutos são armazenados, uma camada intermediária "Refinement" para armazenamento dos dados pré processados e uma camada final "Publish" para os dados prontos para o carregamento no DW.

**Questão 4** - Quais as diferenças de um Data Lake e um DW?

 - Data Lake - Armazenamento de dados em formato de arquivo para fins de tratamento e arquivamento
 - Data Warehouse - Armazenamento de dados em formato tabular para fins de geração de relatórios e dashboards

**Questão 5** - O que é arquitetura Lambda e Kappa? Descreva com suas palavras.

 - Lambda - Arquitetura de framework onde há dois "caminhos" para os dados, um caminho para dados em tempo real e outro para dados batch
 - Kappa - Arquitetura de framework onde há apenas um caminho rápido tanto para dados de tempo real quanto em lotes

**Questão 6** - O que é Data Quality para você e como você implementa isso nos seus processos?

Data Quality é assegurar a qualidade dos dados e que o resultado seja aquilo que se espera. Em meu projeto atual, criamos um notebook que executa um row count das tabelas entre as camadas do Data Lake, procura por valores duplicados e verifica se o schema das tabelas não é modificado sem o nosso conhecimento. Após um tempo trabalhando dessa forma, um time de Testers assumiu essa tarefa.

**Questão 7** - Em uma escala de 0 a 10, qual seria seu nível de experiência com PySpark?

8

**Questão 8** - Em uma escala de 0 a 10, qual seria seu nível de experiência com SQL?

8

**Questão 9** - Descreva suas expeciências com banco de dados SQL e NoSQL.

 - Dados SQL - São utilizados em bancos de dados relacionais, dados estruturados e armazenados em formato tabular com estrutura pré definida. Aceita apenas dados homogêneos, tende a possuir lógica mais simples, porém apresenta maior complexidade em escalabilidade.
 - Dados NoSQL (Not only SQL) - São utilizados em bancos de dados não relacionais, com dados de diferentes formatos e estrutura heterogênea (imagens, textos, etc). Apresentam menor complexidade para escalabilidade, são úteis para algoritmos de Machine Learning, entretanto acabam exigindo uma lógica mais complexa.

**Questão 10** - Tem experiência com versionamento de código? Com quais ferramentas já trabalhou? Descreva.

Sim, trabalhei com GitLab e atualmente com GitBucket

**Questão 11** - Tem experiência em desenvolvimento em cloud? Se sim, especifique a(s) plataforma(s) que já trabalhou e suas principais implementações e conhecimentos em cada serviço.

Sim, tenho certificações Azure (Fundamentals) e AWS (Practitioner, SysOps e Architect Associate), sendo minha experiência mais sólida em AWS. Meu primeiro projeto em Big Data foi na implementação de um framework composto apenas por serviços AWS. A extração dos dados era executada por instancias EC2 com NiFi, S3 como Data Lake, Redshift como DW, transformações com Glue, Funções Lambda e EMR e Step Function como orquestrador. Atualmente implemento um framework na AWS cujo Data Lake também é S3, porém o DW é Snowflake, transformações executadas por cluster Databricks, extração através do StreamSets e Airflow com orquestrador.

**Questão 12** - Tem experiência com metodologia ágil? Qual?

Sim, trabalho em um squad com mais 3 desenvolvedores, usamos o Kanban do Jira para distribuir as atividades entre a equipe e realizamos reuniões diárias no início do dia (15 min) para atualizar o andamento das nossas tarefas e se temos algum impedimento.

# TESTE PRÁTICO

**Problema 1**: Você está recebendo o arquivo 'dados_cadastrais_fake.csv' que contem dados cadastrais de clientes, mas para que análises ou relatórios sejam feitos é necessário limpar e normalizar os dados. Além disso, existe uma coluna com o número de cpf e outra com cnpj, você precisará padronizar deixando apenas dígitos em formato string (sem caracteres especiais), implementar uma forma de verificar se tais documentos são válidos sendo que a informação deve se adicionada ao dataframe em outras duas novas colunas.

Após a normalização, gere reports que respondam as seguintes perguntas:
- Quantos clientes temos nessa base?
- Qual a média de idade dos clientes?
- Quantos clientes nessa base pertencem a cada estado?
- Quantos CPFs válidos e inválidos foram encontrados?
- Quantos CNPJs válidos e inválidos foram encontrados?

Ao final gere um arquivo no formato csv e um outro arquivo no formato parquet chamado (problema1_normalizado), eles serão destinados para pessoas distintas.

*EXTRA:* executar as mesmas validações no *1E8.csv.gz

In [1]:
import findspark
import pyspark

findspark.init()

In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

conf = pyspark.SparkConf().setAppName('appName').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [3]:
df = spark.read.options(header=True,sep=";").csv("dados_cadastrais_fake.xls")

In [4]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

def validate_code(string: str):
    numeric = ""
    for digit in string:
        if digit.isdigit():
            numeric += digit
        else: continue
    return numeric

def is_cpf_valid(string: str):
    if len(string) == 11:
        return True
    else: return False

def is_cnpj_valid(string: str):
    if len(string) == 14:
        return True
    else: return False

validate_code_udf = udf(lambda z: validate_code(z),StringType())
is_cpf_valid_udf = udf(lambda z: is_cpf_valid(z),BooleanType())
is_cnpj_valid_udf = udf(lambda z: is_cnpj_valid(z),BooleanType())

In [187]:
df_val = df.withColumn("cpf", validate_code_udf(col("cpf"))) \
           .withColumn("cnpj", validate_code_udf(col("cnpj"))) \
           .withColumn("valid_cpf", is_cpf_valid_udf(col("cpf"))) \
           .withColumn("valid_cnpj", is_cnpj_valid_udf(col("cnpj")))
df_val.show()

+------------------+-----+-------------------+----------------+-----------+--------------+---------+----------+
|             nomes|idade|             cidade|          estado|        cpf|          cnpj|valid_cpf|valid_cnpj|
+------------------+-----+-------------------+----------------+-----------+--------------+---------+----------+
|    Dennis Daniels|   31|         ACRELÂNDIA|              AC|97566536800|06589184909526|     true|      true|
|       Leah Becker|   42|        ÁGUA BRANCA|              AL|42526380707|25673336235020|     true|      true|
|        Sally Ford|   18|           ALVARÃES|              AM|34647754103|26543101702989|     true|      true|
|    Colleen Duncan|   21|     SERRA DO NAVIO|              AP|25253156003|19062080510098|     true|      true|
|   Jeff Stephenson|   73|             ABAÍRA|              BA|49668886542|97794530015384|     true|      true|
|     Sydney Curtis|   85|            ABAIARA|              CE|50620290749|29476298085678|     true|      true|
|    Kelly Matthews|   44|           Brasília|distrito federal|39154836808|24709301957761|     true|      true|
|         Juan Ruiz|   39|     AFONSO CLÁUDIO|              ES|22688119648|02420338147900|     true|      true|
|      Brian Thomas|   26|    ABADIA DE GOIÁS|              GO|47475484084|70723419110335|     true|      true|
|        Sara Ayers|   62|         AÇAILÂNDIA|              MA|94830978864|88253689548382|     true|      true|
|        Brady Cruz|   83|ABADIA DOS DOURADOS|              MG|03438452456|13118105069639|     true|      true|
|   Samantha Wright|   32|         ÁGUA CLARA|              MS|22203654090|04310317320252|     true|      true|
|    Richard Turner|   85|           ACORIZAL|              MT|79059712285|75595541223248|     true|      true|
|    Ashley Sanders|   73|         ABAETETUBA|              PA|75206513989|06923815165128|     true|      true|
|      Thomas Jones|   45|        ÁGUA BRANCA|              PB|34565179806|26574533273304|     true|      true|
|        Ian Murray|   68|       ABREU E LIMA|              PE|15277717099|85202887368851|     true|      true|
|     Janice Jensen|   79|              ACAUÃ|              PI|45081993646|89596067898809|     true|      true|
|Jeffrey Cunningham|   48|             ABATIÁ|              PR|66549028825|18866688344242|     true|      true|
|      Amanda Glass|   49|     ANGRA DOS REIS|              RJ|86173803577|87380936406714|     true|      true|
|   Kaitlyn Johnson|   65|              ACARI|              RN|89737004213|40893546741494|     true|      true|
+------------------+-----+-------------------+----------------+-----------+--------------+---------+----------+
only showing top 20 rows

In [188]:
# Quantos clientes temos nessa base?
df_val.dropDuplicates().summary("count").select("nomes").show()

+-----+
|nomes|
+-----+
|10000|
+-----+

In [189]:
# Qual a média de idade dos clientes?
df_val.dropDuplicates().summary("mean").select("idade").show()

+-------+
|  idade|
+-------+
|53.7831|
+-------+

In [196]:
# Quantos clientes nessa base pertencem a cada estado?
df_res = df_val.dropDuplicates() \
               .withColumn("estado", regexp_replace(trim(col("estado")), "são  paulo", "SP")) \
               .withColumn("estado", regexp_replace(trim(col("estado")), "sao  paulo", "SP")) \
               .withColumn("estado", regexp_replace(trim(col("estado")), "MINAS GERAIs", "MG")) \
               .withColumn("estado", regexp_replace(trim(col("estado")), "MINAS GERAI", "MG")) \
               .withColumn("estado", regexp_replace(trim(col("estado")), "rio de  janeiro", "RJ")) \
               .withColumn("estado", regexp_replace(trim(col("estado")), "distrito federal", "DF"))

df_res.groupBy("estado").agg(count("nomes")).show()

+------+------------+
|estado|count(nomes)|
+------+------------+
|    SC|         370|
|    RO|         370|
|    PI|         370|
|    AM|         371|
|    RR|         370|
|    GO|         371|
|    TO|         370|
|    MT|         370|
|    SP|         370|
|    PB|         370|
|    ES|         371|
|    RS|         370|
|    MS|         370|
|    AL|         371|
|    MG|         370|
|    PA|         370|
|    BA|         371|
|    SE|         370|
|    PE|         370|
|    CE|         371|
+------+------------+
only showing top 20 rows

In [192]:
# Quantos CPFs válidos e inválidos foram encontrados?
# Critério para cpf válido: 11 dígitos numéricos
# Contagem realizada após tratamento da coluna cpf
df_res.groupBy("valid_cpf").agg(count("cpf")).show()

+---------+----------+
|valid_cpf|count(cpf)|
+---------+----------+
|     true|     10000|
+---------+----------+

In [193]:
# Quantos CNPJs válidos e inválidos foram encontrados?
# Critério para cnpj válido: 14 dígitos numéricos
# Contagem realizada após tratamento da coluna cnpj
df_res.groupBy("valid_cnpj").agg(count("cnpj")).show()

+----------+-----------+
|valid_cnpj|count(cnpj)|
+----------+-----------+
|      true|      10000|
+----------+-----------+

**Problema 2**: Você deverá implementar um programa, para ler, tratar e particionar os dados.

O arquivo fonte está disponível em `https://st-it-cloud-public.s3.amazonaws.com/people-v2_1E6.csv.gz`

### Data Quality

- Higienizar e homogenizar o formato da coluna `document`
- Detectar através da coluna `document` se o registro é de uma Pessoa Física ou Pessoa Jurídica, adicionando uma coluna com essa informação
- Higienizar e homogenizar o formato da coluna `birthDate`
- Existem duas colunas nesse dataset que em alguns registros estão trocadas. Quais são essas colunas? 
- Corrigir os dados com as colunas trocadas
- Além desses pontos, existem outras tratamentos para homogenizar esse dataset. Aplique todos que conseguir.

### Agregação dos dados

- Quais são as 5 PF que mais gastaram (`totalSpent`)? 
- Qual é o valor de gasto médio por estado (`state`)?
- Qual é o valor de gasto médio por `jobArea`?
- Qual é a PF que gastou menos (`totalSpent`)?
- Quantos nomes e documentos repetidos existem nesse dataset?
- Quantas linhas existem nesse dataset?

### Particionamento de dados tratados com as regras descritas em `DATA QUALITY`

- Particionar em arquivos PARQUET por estado (`state`)
- Particionar em arquivos CSV por ano/mes/dia de nascimento (`birthDate`)

In [5]:
df = spark.read.options(header=True,sep=";").csv("people-v2_1E6.csv")

In [6]:
# Higienizar e homogenizar o formato da coluna document
# Detectar através da coluna document se o registro é de uma Pessoa Física ou Pessoa Jurídica, adicionando uma coluna com essa informação

df2 = df.withColumn("document", validate_code_udf(trim(col("document")))) \
  .withColumn("PF_PJ", when(length(col("document")) == 11, lit("PF")) \
                      .when(length(col("document")) == 14, lit("PJ"))
                      .otherwise("not_valid"))

In [7]:
# Higienizar e homogenizar o formato da coluna birthDate

from pyspark.sql.functions import coalesce, to_date

def to_date_(col, formats=("d-M-y", "M/d/y", "d-MMM-y", "yMd", "MMM/d/y")):
    return coalesce(*[to_date(col, f) for f in formats])

df3 = df2.withColumn("birthDate", to_date_("birthDate"))
df3.show()

+--------------+--------------------+--------------------+-------------------+------------+------------------+----------+--------------------+------------------+----------+-----+
|      document|                name|                 job|            jobArea|     jobType|       phoneNumber| birthDate|                city|             state|totalSpent|PF_PJ|
+--------------+--------------------+--------------------+-------------------+------------+------------------+----------+--------------------+------------------+----------+-----+
|   76684148787|     Charlleny Braga|Oficial Criativo ...|       Configuração|Estrategista|    (62) 4216-9799|1972-05-20|   Município de Iara|             Goiás|    913.80|   PF|
|   85704855733|      Newton Saraiva|Administrador Com...|Prestação de contas| Facilitador|        Aplicações|1982-06-10|Município de Neid...|                RR|     57.26|   PF|
|15664328373377|Dr. Sr. Solange M...|Designer Identida...|           Métricas|        null|+55 (95) 7143-3307|1968-05-16|  Município de Santo|                RO|    660.71|   PJ|
|02328238087786| Celina Carvalho Jr.|                null|          Qualidade|     Ligação|+55 (58) 4136-5577|      null|       Reis do Norte|                RO|    542.51|   PJ|
|30073687408740|      Aurilo Martins|Especialista Para...|           Programa|   Executivo|   (96) 47498-7325|1980-04-07|Município de Amin...|                RO|    104.33|   PJ|
|   77145788233|Sr. Sávio Albuque...|Estrategista Bran...|           Resposta|  Planejador|+55 (06) 0512-5291|      null| Município de Balmes|           Sergipe|    769.26|   PF|
|   75752983045|Sr. Everaldo Sara...|Técnico Táticas P...|          Marketing|     Diretor|   (33) 78784-4156|1980-10-27|    Nova Olga do Sul|      Minas Gerais|     575.1|   PF|
|   88363035521|     Martina Moreira|Associado Contas ...|          Marketing|    Designer|+55 (30) 1195-8461|1978-09-08|Reis de Nossa Sen...|                BA|    381.15|   PF|
|   46182752785|Benedikt-Jan Pereira|Associado Contas ...|             Contas|     Gerente|+55 (36) 8023-5165|      null|         Melo do Sul|        Pernambuco|    496.97|   PF|
|   15111381490|   Izamar Melo Filho|Designer Configur...|           Mercados|Especialista|   (37) 02302-7101|1987-01-19|                null|Mato Grosso do Sul|    400.18|   PF|
|   96857779341|     Débora Oliveira|Associado Seguran...|      Implementação|     Oficial|   (02) 63755-0226|      null|       Balmes do Sul|                SP|    473.01|   PF|
|   58412777743|Sra. Lhirton Bati...|Produtor Intranet...|       Configuração|   Arquiteto|   (33) 70042-1213|1985-05-12|      Batista do Sul|                PA|    300.22|   PF|
|43256426510740| Sra. Rosildo Santos|Desenvolvedor Fun...|         Integração|  Engenheiro|    (12) 3014-4120|      null|                null|              Pará|    658.82|   PJ|
|   23285262680|    Dov Carvalho Jr.|Administrador Pes...|           Resposta|    Analista|   (65) 37328-4182|1989-08-02|      Nova Elisabete|         Tocantins|    795.89|   PF|
|23487182365693|Edith Albuquerque...|Diretor Interaçõe...|           Garantia|Estrategista|+55 (67) 9793-9050|1986-12-02|                null|              Pará|    286.44|   PJ|
|   15174710520|Deilson Santos Filho|Estrategista Qual...|           Garantia|    Produtor|    (70) 7104-0331|1963-08-18|       Nova Michelle|           Sergipe|    249.36|   PF|
|   04556513537|       Viviana Braga|                null|          Diretivas|   Associado|   (10) 11373-1986|      null|                null|              Acre|    920.21|   PF|
|   67445640053|      Dione Oliveira|Facilitador Soluç...|Prestação de contas|        null|   (67) 75494-6612|1987-04-19|      Pereira do Sul|           Sergipe|    768.23|   PF|
|   74854451114|          Kauy Filho|Supervisor Qualid...|         Otimização|        null|    (07) 8716-5981|1978-12-07|Nova Evany de Nos...|                PE|    393.67|   PF|
|13243665857133|  Dr. Valdete Franco|                null|         Integração|        null|+55 (21) 6949-7240|1972-03-21|Grande Jeferson d...|         Tocantins|    773.84|   PJ|
+--------------+--------------------+--------------------+-------------------+------------+------------------+----------+--------------------+------------------+----------+-----+
only showing top 20 rows

In [8]:
# Existem duas colunas nesse dataset que em alguns registros estão trocadas. Quais são essas colunas? R: jobArea e phoneNumber
# Corrigir os dados com as colunas trocadas

df4 = df2.withColumn("jobArea_tmp", col("jobArea")) \
         .withColumn("phoneNumber_tmp", col("phoneNumber")) \
         .withColumn("jobArea", when(length(validate_code_udf(col("jobArea_tmp"))) > 1, lit(None)) \
                     .otherwise(col("jobArea_tmp"))) \
         .withColumn("phoneNumber", when(length(validate_code_udf(col("phoneNumber_tmp"))) == 0, lit(None)) \
                     .otherwise(col("phoneNumber_tmp"))) \
         .drop("jobArea_tmp", "phoneNumber_tmp")
df4.show()

+--------------+--------------------+--------------------+-------------------+------------+------------------+----------------+--------------------+------------------+----------+-----+
|      document|                name|                 job|            jobArea|     jobType|       phoneNumber|       birthDate|                city|             state|totalSpent|PF_PJ|
+--------------+--------------------+--------------------+-------------------+------------+------------------+----------------+--------------------+------------------+----------+-----+
|   76684148787|     Charlleny Braga|Oficial Criativo ...|       Configuração|Estrategista|    (62) 4216-9799|      20-05-1972|   Município de Iara|             Goiás|    913.80|   PF|
|   85704855733|      Newton Saraiva|Administrador Com...|Prestação de contas| Facilitador|              null|     10-Jun-1982|Município de Neid...|                RR|     57.26|   PF|
|15664328373377|Dr. Sr. Solange M...|Designer Identida...|           Métricas|        null|+55 (95) 7143-3307|      05/16/1968|  Município de Santo|                RO|    660.71|   PJ|
|02328238087786| Celina Carvalho Jr.|                null|          Qualidade|     Ligação|+55 (58) 4136-5577|       19810417,|       Reis do Norte|                RO|    542.51|   PJ|
|30073687408740|      Aurilo Martins|Especialista Para...|           Programa|   Executivo|   (96) 47498-7325|      04/07/1980|Município de Amin...|                RO|    104.33|   PJ|
|   77145788233|Sr. Sávio Albuque...|Estrategista Bran...|           Resposta|  Planejador|+55 (06) 0512-5291|       19830618,| Município de Balmes|           Sergipe|    769.26|   PF|
|   75752983045|Sr. Everaldo Sara...|Técnico Táticas P...|          Marketing|     Diretor|   (33) 78784-4156|     27-Oct-1980|    Nova Olga do Sul|      Minas Gerais|     575.1|   PF|
|   88363035521|     Martina Moreira|Associado Contas ...|          Marketing|    Designer|+55 (30) 1195-8461|      09/08/1978|Reis de Nossa Sen...|                BA|    381.15|   PF|
|   46182752785|Benedikt-Jan Pereira|Associado Contas ...|             Contas|     Gerente|+55 (36) 8023-5165|       19771120,|         Melo do Sul|        Pernambuco|    496.97|   PF|
|   15111381490|   Izamar Melo Filho|Designer Configur...|           Mercados|Especialista|   (37) 02302-7101|      19-01-1987|                null|Mato Grosso do Sul|    400.18|   PF|
|   96857779341|     Débora Oliveira|Associado Seguran...|      Implementação|     Oficial|   (02) 63755-0226|Thu, Jan.30.1975|       Balmes do Sul|                SP|    473.01|   PF|
|   58412777743|Sra. Lhirton Bati...|Produtor Intranet...|       Configuração|   Arquiteto|   (33) 70042-1213|     May/12/1985|      Batista do Sul|                PA|    300.22|   PF|
|43256426510740| Sra. Rosildo Santos|Desenvolvedor Fun...|         Integração|  Engenheiro|    (12) 3014-4120|       19801214,|                null|              Pará|    658.82|   PJ|
|   23285262680|    Dov Carvalho Jr.|Administrador Pes...|           Resposta|    Analista|   (65) 37328-4182|     Aug/02/1989|      Nova Elisabete|         Tocantins|    795.89|   PF|
|23487182365693|Edith Albuquerque...|Diretor Interaçõe...|           Garantia|Estrategista|+55 (67) 9793-9050|     Dec/02/1986|                null|              Pará|    286.44|   PJ|
|   15174710520|Deilson Santos Filho|Estrategista Qual...|           Garantia|    Produtor|    (70) 7104-0331|      08/18/1963|       Nova Michelle|           Sergipe|    249.36|   PF|
|   04556513537|       Viviana Braga|                null|          Diretivas|   Associado|   (10) 11373-1986|       19820810,|                null|              Acre|    920.21|   PF|
|   67445640053|      Dione Oliveira|Facilitador Soluç...|Prestação de contas|        null|   (67) 75494-6612|     19-Apr-1987|      Pereira do Sul|           Sergipe|    768.23|   PF|
|   74854451114|          Kauy Filho|Supervisor Qualid...|         Otimização|        null|    (07) 8716-5981|     Dec/07/1978|Nova Evany de Nos...|                PE|    393.67|   PF|
|13243665857133|  Dr. Valdete Franco|                null|         Integração|        null|+55 (21) 6949-7240|      21-03-1972|Grande Jeferson d...|         Tocantins|    773.84|   PJ|
+--------------+--------------------+--------------------+-------------------+------------+------------------+----------------+--------------------+------------------+----------+-----+
only showing top 20 rows

In [9]:
# Quais são as 5 PF que mais gastaram (totalSpent)?

df4.filter("PF_PJ == 'PF'") \
    .groupBy("name","document") \
    .agg(sum("totalSpent").alias("totalSpent_sum")) \
    .orderBy(col("totalSpent_sum").desc()) \
    .show(5)

+------------------+-----------+--------------+
|              name|   document|totalSpent_sum|
+------------------+-----------+--------------+
| Euvanderson Costa|82190864755|        1000.0|
|Sra. Rocio Martins|18741688813|        1000.0|
|    Wandir Martins|61454551445|        999.99|
|       Regina Melo|17195012700|        999.99|
|     Valeria Souza|58953147670|        999.99|
+------------------+-----------+--------------+
only showing top 5 rows

In [10]:
# Qual é o valor de gasto médio por estado (state)?

df5 = df4.dropDuplicates() \
               .withColumn("state", regexp_replace(trim(col("state")), "Santa Catarina", "SC")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Mato Grosso do Sul", "MS")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Goiás", "GO")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Mato Grosso", "MT")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Ceará", "CE")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Espírito Santo", "ES")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Piauí", "PI")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Paraná", "PR")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Alagoas", "AL")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Bahia", "BH")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Roraima", "RR")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Distrito Federal", "DF")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Pernambuco", "PE")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Amazonas", "AM")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Rio Grande do Sul", "RS")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Acre", "AC")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Rio Grande do Norte", "RN")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Sergipe", "SE")) \
               .withColumn("state", regexp_replace(trim(col("state")), "São Paulo", "SP")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Rio de Janeiro", "RJ")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Minas Gerais", "MG")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Rondônia", "RO")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Maranhão", "MA")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Tocantins", "TO")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Paraíba", "PB")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Pará", "PA")) \
               .withColumn("state", regexp_replace(trim(col("state")), "Amapá", "AP"))

df5.groupBy("state").agg(mean("totalSpent").alias("spent_mean")).show()

+-----+------------------+
|state|        spent_mean|
+-----+------------------+
|   SC| 501.3456124521237|
|   RO|  498.237317849353|
|   PI| 499.0765211522301|
|   AM|498.77066298058446|
|   RR|500.95639783978476|
|   GO| 501.2924926083047|
|   TO| 501.9015633481716|
|   MT| 500.2646100271407|
|   SP| 498.6944797150817|
|   PB|499.20039918878786|
|   ES| 501.6317474781182|
|   BH|497.75054104477545|
|   RS|500.63098342994965|
|   MS|499.50974141011864|
|   AL|500.51551942023036|
|   MG|499.53209412922274|
|   PA|   499.23084708669|
|   BA| 499.6714021164028|
|   SE| 498.2400992515452|
|   PE|502.40577268067716|
+-----+------------------+
only showing top 20 rows

In [11]:
# Qual é o valor de gasto médio por jobArea?

df5.groupBy("jobArea").agg(mean("totalSpent").alias("spent_mean")).show()

+-------------------+------------------+
|            jobArea|        spent_mean|
+-------------------+------------------+
|          Paradigma| 502.9419944446624|
|      Implementação| 501.6488623650825|
|              Grupo| 500.6132407150521|
|           Soluções| 501.4326185234694|
|         Identidade|  498.906987072479|
|           Branding|499.80194382679747|
|            Táticas| 498.4137747645642|
|       Configuração| 502.3573366375891|
|Prestação de contas| 498.8216184834126|
|               null| 500.2928956194941|
|         Interações|498.79547197349274|
|           Mercados|  495.435343256618|
|           Pesquisa| 498.8122161229603|
|           Garantia| 497.8645700630693|
|               Rede| 500.9353493279145|
|   A infraestrutura| 499.6950264508801|
|           Métricas|499.13984875935444|
|             Contas| 499.0756250979169|
|           Intranet| 499.7327174212875|
|              Dados| 500.8420806464449|
+-------------------+------------------+
only showing top 20 rows

In [12]:
# Qual é a PF que gastou menos (totalSpent)?
# Não ficou claro se há algum critério de desempate

df5.filter("PF_PJ == 'PF'") \
    .filter("totalSpent is not Null") \
    .groupBy("name","document") \
    .agg(sum("totalSpent").alias("totalSpent_sum")) \
    .orderBy(col("totalSpent_sum")) \
    .show(1)

+--------------+-----------+--------------+
|          name|   document|totalSpent_sum|
+--------------+-----------+--------------+
|Sr. Enio Souza|58868926210|           0.0|
+--------------+-----------+--------------+
only showing top 1 row

In [13]:
# Quantos nomes e documentos repetidos existem nesse dataset?
# Aplicando a função em cadeia o resultado fica 1000000 - 454946 = 545054

df.dropDuplicates(["document"]).dropDuplicates(["name"]).count()

454946

In [108]:
# Quantas linhas existem nesse dataset?

df.count()

1000000

In [14]:
# Particionar em arquivos PARQUET por estado (state)

df5.write.partitionBy("state").mode("overwrite").parquet("./teste_output_parquet")

Py4JJavaError: An error occurred while calling o277.parquet.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.jobAbortedError(QueryExecutionErrors.scala:496)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:251)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:186)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:113)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:111)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.executeCollect(commands.scala:125)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:110)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:110)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:106)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:82)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:457)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:106)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:93)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:91)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:128)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:848)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:382)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:355)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:239)
	at org.apache.spark.sql.DataFrameWriter.parquet(DataFrameWriter.scala:781)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.lang.UnsatisfiedLinkError: org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Ljava/lang/String;I)Z
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Native Method)
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access(NativeIO.java:793)
	at org.apache.hadoop.fs.FileUtil.canRead(FileUtil.java:1215)
	at org.apache.hadoop.fs.FileUtil.list(FileUtil.java:1420)
	at org.apache.hadoop.fs.RawLocalFileSystem.listStatus(RawLocalFileSystem.java:601)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.fs.ChecksumFileSystem.listStatus(ChecksumFileSystem.java:761)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.getAllCommittedTaskPaths(FileOutputCommitter.java:334)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:404)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:377)
	at org.apache.parquet.hadoop.ParquetOutputCommitter.commitJob(ParquetOutputCommitter.java:48)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:182)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$write$20(FileFormatWriter.scala:240)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.timeTakenMs(Utils.scala:605)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:240)
	... 42 more

In [ ]:
# Particionar em arquivos CSV por ano/mes/dia de nascimento (birthDate)
# Faltou converter alguns formatos de data

df5.write.partitionBy("birthDate").mode("overwrite").parquet("./teste_output_csv")